{% include 'header.html' %}
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="#">EpyTodo</a></nav>
   <style type="text/css">
      .login-form {
      width: 340px;
      margin: 50px auto;
      }
      .login-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
      }
      .login-form h2 {
      margin: 0 0 15px;
      }
      .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
      }
      .btn {        
      font-size: 15px;
      font-weight: bold;
      }
   </style>
   <div class="login-form">
      <form method="post">
         <h2 class="text-center">Log in</h2>
         <div class="form-group">
            <input type="text" id="username1" class="form-control" placeholder="Username" required="required">
         </div>
         <div class="form-group">
            <input type="password" id="password2" class="form-control" placeholder="Password" required="required">
         </div>
         <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
         </div>
      </form>
      <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
      <p class="text-center"><a href="/my_register">Create an Account</a></p>
   </div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
   $('form').on('submit', function(event) {
      $.ajax({
               data: {
                  username: $('#username1').val(),
                  password: $('#password2').val()
               },
               type: 'POST',
               url: '/signin'
         })
         .done(function(data, text_status, xhr) {
                  if (xhr.status == 200)
                     window.location.href = "/my_user";
                  $('#errorAlert').text(data.error).show();
               });
      event.preventDefault();
   });
   });
</script>
</html>